<div class="wordslearner-body-about" data-ng-controller="aboutController">
    <div class="wordslearner-body-header">
        Тренажёр запоминания новых иностранных слов
    </div>
    <div class="wordslearner-body-text">
        <button type="button" class="btn btn-warning" data-ng-click="checkAnswer()">Показать перевод</button>
        <div data-ng-repeat="tutorial in tutorials">
            <div class="wordslearner-body-text-title">
                <p>{{tutorial.title}}</p>
            </div>
            <div class="wordslearner-body-text-body">
                <p>{{tutorial.body}}</p>
            </div>
        </div>

    </div>

</div>