<div class="wordslearner-body-learn" data-ng-controller="playController">
    <div class="wordslearner-body-header">
        Выбери правильный перевод
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5">
                <label for="word" class="wordslearner-body-label">Слово:</label>
                <input type="text" class="form-control" id="word">
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-5">
                <label class="wordslearner-body-label">Перевод:</label>
                <div data-ng-repeat="answer in answers">
                    <button type="button" class="btn btn-default" data-ng-click="getById(answer)" style="width: 95%">
                        {{answer}}
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div data-ng-class="{'wordslearner-success-panel': result=='1','wordslearner-alert-panel': result=='-1','wordslearner-neutral-panel':result=='0'}">
            {{repeatResult}}
        </div>
        <hr>
        <div class="wordslearner-body-play-results">
            <div class="wordslearner-body-results-title">
                Текущая статистика
            </div>
            <table class="table table-bordered" style="font-size: 18px">
                <tbody>
                <tr>
                    <td>Число попыток</td>
                    <td>{{results.attempts}}</td>
                </tr>
                <tr>
                    <td>Число правильных ответов</td>
                    <td>{{results.right}}</td>

                </tr>
                <tr>
                    <td>Число неправильных ответов</td>
                    <td>{{results.wrong}}</td>

                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div style="text-align: right;padding-right: 10px">
            <button type="button" class="btn btn-info">Следующее слово</button>
        </div>

    </div>

</div>

